<section class="text-center py-2 space-y-2">
  <h2 class="text-6xl font-bold mb-2">About me!</h2>
  <br />
  <p class="text-2xl font-semibold underline dark:text-gray-300">A person passionate to learn and try new things, building things since childhood.</p>
  <p class="text-lg  italic dark:text-gray-300 max-w-4xl mx-auto">A 2025 graduate with fullstack development experience, but what else is there to know about me?</p>

  <div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 text-lg dark:text-gray-300">
    <div>
      <p class="text-lg font-semibold underline dark:text-gray-300 text-center mb-2">Technologies acquainted with:</p>
      <ul class="list-disc list-inside space-y-1">
        <li>Angular</li>
        <li>TypeScript / JavaScript</li>
        <li>Node.js</li>
        <li>SQL / PostgreSQL</li>
        <li>HTML / CSS / Tailwind CSS</li>
        <li>Git / GitHub</li>
        <li>Java</li>
        <li>Python & Flask</li>
        <li>C++</li>
        <li>Go</li>
        <li>React</li>
        <li>CI/CD</li>
        <li>Docker & Kubernetes</li>
        <li>AWS</li>
        <li>VS Code, Eclipse, Jira</li>
      </ul>
    </div>

    <div>
      <p class="text-lg font-semibold underline dark:text-gray-300 text-center mb-2">Personal Hobbies & Interests:</p>
      <ul class="list-disc list-inside space-y-1">
        <li>Game Development (Godot engine)</li>
        <li>Performing - Screen acting, Musical Theatre</li>
        <li>Language Learning - Mandarin Chinese</li>
        <li>Physical wellbeing</li>
      </ul>
    </div>
  </div>
</section>