<section class="text-center py-8 space-y-2">
  <h1 class="text-6xl font-bold mb-2">Eduard Andrei Broasca</h1>
  <h2 class="text-3xl italic text-gray-700 dark:text-gray-300 mb-4">Entry Level Fullstack Developer</h2>
  <br />
  <p class="text-lg  font-semibold dark:text-gray-300 max-w-4xl mx-auto">This is a web-page where you can learn more about me, my experience and projects and get in touch!</p>
  <br />
  <div class="border-gray-700 border-2 rounded-lg p-4 space-y-2 max-w-4xl mx-auto">
    <p class="text-1xl  font-semibold dark:text-gray-300 max-w-4xl mx-auto">I have experience building web apps using Angular, Typescript/Javascript, Node.js, SQL and more!</p>
    <p class="text-1xl  font-semibold dark:text-gray-300 max-w-4xl mx-auto">2025 Graduate of B.Sc. Computer Science & Software Engineering — Maynooth University.</p>
    <p class="text-sm font-semibold dark:text-gray-300 max-w-4xl mx-auto">Always enthusiastic to learn something new.</p>
  </div>
  <br />
  <p class="text-lg  font-semibold dark:text-gray-300 max-w-4xl mx-auto">Below, or with the header at the top, you can navigate to the different sections of this page to view information about me, my previous experience, my projects or a page you can contact me through.</p>
  <br />
  <div class="mt-8 flex justify-center space-x-4">
    <a routerLink="/about" class="px-4 py-2 bg-indigo-600 text-white rounded shadow">About</a>
    <a routerLink="/experience" class="px-4 py-2 bg-indigo-600 text-white rounded shadow">Experience</a>
    <a routerLink="/projects" class="px-4 py-2 bg-indigo-600 text-white rounded shadow">Projects</a>
    <a routerLink="/contact" class="px-4 py-2 bg-indigo-600 text-white rounded shadow">Contact</a>
  </div>
</section>